<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifica Utente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
		<div class="nav-bar">
		<a href="{{ url_for('admin.manage_users') }}">Annulla</a>
		</div>
		<header>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
            <h1>{{ titolo }}</h1>
        </header>
        <h1>Modifica Utente</h1>
        <form method="POST" action="{{ url_for('admin.edit_user', user_id=user.id) }}"  enctype="multipart/form-data" class="form-grid">
		   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label>Username</label>
            <input type="text" name="username" value="{{ user.username }}" required>
			
			<label>Nome</label>
            <input type="text" name="nome" value="{{ user.nome }}" required>
            <label>Cognome</label>
            <input type="text" name="cognome" value="{{ user.cognome }}" required>
			<label>C.F.</label>
            <input type="text" name="cf" value="{{ user.cf }}" >
			<label>Sesso</label>
            <input type="text" name="sesso" value="{{ user.sesso }}" >
            <label>Password (lascia vuoto per non cambiare)</label>
            <input type="password" name="password">
            {% if current_user.is_admin %}
            <label>Admin</label>
            <input type="checkbox" name="is_admin" {% if user.is_admin %}checked{% endif %}> 
           
			<label>Collaboratore</label>
            <input type="checkbox" name="is_worker" {% if user.is_worker %}checked{% endif %}> 
               {% endif %} 
            <label>Attivo</label>
            <input type="checkbox" name="is_active" {% if user.is_active %}checked{% endif %}> 
              <label for="logo">Manuale</label>
			 <div class="image-upload">
			  <input type="file" id="manuale" name="manuale" accept="application/pdf">
			

            </div>
			
			 <label for="alimentare">Piano Alimentare</label>
			 <div class="image-upload">
			  <input type="file" id="alimentare" name="alimentare" accept="application/pdf">
			

            </div>
			 <label for="integrazione">Integrazione consigliata</label>
			 <div class="image-upload">
			  <input type="file" id="integrazione" name="integrazione" accept="application/pdf">
			

            </div>
            <div class="form-group full-width">
			<button type="submit" class="button-groupFooter">Salva Modifiche</button>
			</div>
        </form>
        

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
    </div>
</body>
</html>
